# 3 - Interactive Plot

## Victor Jose Novaes Pires

### Update 2019-04-15

[https://victorjnpires.github.io/](https://victorjnpires.github.io/)

## Import dataframe

In [1]:
import pandas as pd
df = pd.read_csv('megasena.csv', index_col=0, parse_dates=[1])
df.head()

              Date  1st ball  2nd ball  3rd ball  4th ball  5th ball  6th ball
Drawing
1       1996-03-11        41         5         4        52        30        33
2       1996-03-18         9        39        37        49        43        41
3       1996-03-25        36        30        10        11        29        47
4       1996-04-01         6        59        42        27         1         5
5       1996-04-08         1        19        46         6        16         2

In [2]:
df.tail()

              Date  1st ball  2nd ball  3rd ball  4th ball  5th ball  6th ball
Drawing
2138    2019-03-30        30        34         4        21        13        14
2139    2019-04-03        58        29        23        41        14        57
2140    2019-04-06        20        54        36        17        42        26
2141    2019-04-10        10        19        11        37        41        17
2142    2019-04-13        44        50        52        57         7        40

In [3]:
%matplotlib inline

%config InlineBackend.figure_format = 'svg'

import numpy as np
from matplotlib import style
import matplotlib.pyplot as plt

black  = [0.2500, 0.2500, 0.2500]
blue   = [0.0000, 0.4470, 0.7410]
green  = [0.4660, 0.6740, 0.1880]
orange = [0.8500, 0.3250, 0.0980]
yellow = [0.9290, 0.6940, 0.1250]

default_xs = [0, 61]
default_xticks = [1] + [x for x in range(5, 61, 5)]

def _plot_statistics(x, y, title):
    plt.figure(figsize=(11, 7))

    if len(x) > 30:
        xs = default_xs
        plt.xticks(default_xticks)
    else:
        x_range = np.arange(len(x)) + 1
        plt.xticks(x_range, list(map(str, x)))
        x = x_range
        xs = [(np.min(x) - 1), (np.max(x) + 1)]

    plt.title(title, fontsize=14)
    plt.bar(x, y, color=[blue, green, yellow])
    m = np.mean(y)
    sd = np.std(y)
    plt.plot(xs, [m + sd]*2, linewidth=1, color=black, label="Mean + SD")
    plt.plot(xs, [m]*2, linewidth=2, color=orange, label="Mean")
    plt.plot(xs, [m - sd]*2, linewidth=1, color=black, label="Mean - SD")
    plt.xlabel("Numbers")
    plt.ylabel("Total drawings")
    plt.legend(loc=4)
    plt.show()
    print(f"Mean: {m:.2f}\tStandard deviation: {sd:.2f}")

In [4]:
def plot_statistics(drawings_range):
    lower, upper = np.asarray(drawings_range) - 1
    start_date = df.Date.iloc[lower].strftime('%Y-%m-%d')
    end_date = df.Date.iloc[upper].strftime('%Y-%m-%d')
    upper += 1
    num_drawings = upper - lower
    chunk = df.iloc[lower:upper]
    all_numbers = pd.concat([chunk[col] for col in chunk.iloc[:, 1:7].columns], axis=0)
    all_numbers = all_numbers.value_counts().sort_index()
    x = all_numbers.index.values
    y = all_numbers.values
    if len(x) == 6:
        title = f"Statistics of the drawing on {start_date}"
    else:
        title = f"Statistics of {num_drawings:,d} drawings, from {start_date} to {end_date}"
    _plot_statistics(x, y, title)

In [5]:
from ipywidgets import widgets, Layout, interact

drawings_range = widgets.IntRangeSlider(value=[2001, len(df)], # Years 2018 - 2019
                                        min=1,
                                        max=len(df),
                                        layout=Layout(width='95%'))

_ = interact(plot_statistics, drawings_range=drawings_range)

interactive(children=(IntRangeSlider(value=(2001, 2142), description='drawings_range', layout=Layout(width='95â€¦